//Цвет

$logo-pink: #B4387A;
$blue3: #003CFF;
$hover-blue: #7796C0;

$white: #FFF;
$orange: #EB801D;

$title-black: #0B132A;
$title-lightBlack: #1C1C1E;

$title-blackColor: #1C1C1C;

$text-darkBlack: #000;

$text-darkGrey: #4F5665;
$text-gray2: #1D1929;
$text-grey: #808080;

$text-darkBlue: #2D3748;
$text-darkRed:#3D3D3D;

$placeholder: #9092B0;