@import "_variables.scss";
@import "_mixins.scss";

.chooseDesign {
    margin-bottom: 112px;
    margin-top: 131px
}

.chooseDesign__container {
    @include flexJustify(space-between);
}

.chooseDesign__title {
    @include fonts($title-lightBlack, 48px, 700, 50px);
    margin-bottom: 36px;
    max-width: 622px;
}

.chooseDesign__item {
    @include gridRowColumn(16px, 16px);
    grid-template-columns: auto auto;
}

@media (max-width: 920px) {
    .chooseDesign {
        margin-bottom: 48px;
        margin-top: 64px;
    }
    .chooseDesign__container {
        flex-direction: column;
    }
    .chooseDesign__item {
        margin-top: 16px;
        @include flexJustify(space-between);
        flex-wrap: wrap;
    }
    .chooseDesign__title {
        width: auto;
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .chooseDesign {
        margin-top: 48px;
    }
    .chooseDesign__item img {
        max-width: 180px;
    }
    .chooseDesign__title {
        font-size: 30px;
    }
}