@import "_variables.scss";
@import "_mixins.scss";

.features {
    margin-bottom: 48px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
}

.features__container {
    @include flexJustify(space-between);
    ul {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        li {
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 16px;
            font-size: 14px;
            &::before {
                content: url(../icons/check-circle.svg);
                height: 24px;
            }
        }
    }
}

.features__item {
    padding-top: 74px;
}

.features__title {
    @include fonts($title-black, 35px, 500, 50px);
    margin-bottom: 20px;
}

.features__text {
    @include fonts($text-darkGrey, 16px, 400, 30px);
}

@media (max-width: 920px) {
    .features__container {
      position: relative;
      padding-bottom: 64px;
    }
    .features__foto {
      position: absolute;
      z-index: -1;
      opacity: 0.3;
      bottom: 0;
      width: 100%;
      max-width: 512px;
      img {
        width: -webkit-fill-available;
      }
    }
    .features__item {
      display: flex;
      flex-direction: column;
      ul {
        align-self: center;
      }
    }
}
  
@media (max-width: 500px) {
    .features__title {
        font-size: 24px;
    }
}