@import "_variables.scss";
@import "_mixins.scss";

.header {
    @include flexJustify(space-between);
    padding: 7px 0;
    align-items: center;  
    position: relative;
}

.hamburger, .checkbox {
    display: none;
}

.logo {
    cursor: pointer;
    text-decoration: none;
    p {
        @include fonts($logo-pink, 24px, 700, 112%);
        letter-spacing: 0.48px;
    }
    &:hover {
        text-decoration: underline;
    }
}

.navigation ul {
    display: flex;
    list-style: none;
    column-gap: 40px;
    & .navigation__item a {
        @include fonts($text-gray2, 16px, 700, 112%);
        letter-spacing: 0.32px;
        text-decoration: none;
        &:hover {
            color: #B2A35F;
        }
    }
    & .navigation__item .navigation__active {
        color: #B2A35F;
    }
}

@media (max-width: 920px) {
    .header {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .navigation ul {
        column-gap: 20px;
    }
}

@media (max-width: 767px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 26px;
        position: relative;
        span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: black;
            border-radius: 3px;
        }
        .hamburger__line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }
        .hamburger__line2 {
            transition: transform 0.2s ease-in-out;
        }
        .hamburger__line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
    }
    .navigation {
        position: absolute;
        top: 60px;
        width: 100vw;
        background: linear-gradient(to right, transparent, blue 20%, blue 60%, transparent);
        padding: 60px 0;
        transform: translate(-120%);
        transition: transform 0.5s ease-in-out;
        ul {
            flex-direction: column;
            row-gap: 20px;
            margin-left: 30%;
            .navigation__item a {
                color: white;
            }
        }
    }
    .checkbox {
        position: absolute;
        display: block;
        width: 35px;
        height: 28px;
        top: 18px;
        left: 44%;
        z-index: 15;
        opacity: 0;
        cursor: pointer;
    }
    
    input[type="checkbox"]:checked ~.navigation {
        transform: translateX(0);
    }
    input[type="checkbox"]:checked ~ .hamburger .hamburger__line1 {
        transform: rotate(45deg);
    }
      
    input[type="checkbox"]:checked ~ .hamburger .hamburger__line2 {
        transform: scaleY(0);
    }
      
    input[type="checkbox"]:checked ~ .hamburger .hamburger__line3 {
        transform: rotate(-45deg);
    }
    
}