@import "_variables.scss";
@import "_mixins.scss";

.modal {
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: start;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal__message {
    width: 448px;
    background: #FFF;
    padding: 16px;
    position: relative;
    top: 35vh;
}

.modal__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    p {
        @include fonts(#1C1C1E, 16px, 700, 147.4%);
        letter-spacing: 0.32px;
    }
    div {
        cursor: pointer;
    }
}

.modal__question {
    @include fonts(#1A202C, 16px, 500, 147.4%); 
    letter-spacing: 0.32px;
    margin-bottom: 35px;
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
}