@import "_variables.scss";
@import "_mixins.scss";

.notFound {
    display: flex;
    justify-content: space-between;
}

.notFound__info {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    justify-content: center;
    align-items: start;
}

.notFound__title {
    @include fonts(#1C1C1E, 30px, 700, 112%);
}

.notFound__subtitle {
    @include fonts(#000, 30px, 500, 112%);
}

.notFound__text {
    @include fonts(#4B4B4B, 16px, 500, 112%);
}