@import "_variables.scss";
@import "_mixins.scss";

.prescoring__title {
    @include fonts($text-darkBlack, 30px, 700, 147.4%);
    text-align: center;
    margin-bottom: 15px
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    .steps__paragraph {
        max-width: 334px;
    }
    .steps__paragraph-medium {
        max-width: 384px;
    }
    .steps__paragraph-long {
        max-width: 434px;
    }
}
