@import "_variables.scss";
@import "_mixins.scss";


.scoringMessage {
    padding: 160px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scoringMessage__title {
    @include fonts(#1C1C1E, 30px, 700, 112%);
    text-align: center;
    letter-spacing: 0.6px;
    margin-bottom: 32px;
    max-width: 600px;
}

.scoringMessage__text {
    @include fonts(#4F5665, 16px, 500, 112%);
    text-align: center;
    letter-spacing: 0.32px;
    max-width: 400px;
}